Folder PATH listing for volume Local Disk
Volume serial number is 1634-F9FB
C:\TEMP
|   configOU.txt
|   debug.txt
|   MoveOU.vbs
|   MoveOU_Win8.vbs
|   
\---f1
    |   fileinf2.txt.txt
    |   
    \---f2
